* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(163, 65, 0, 0.678);
}

.principal {
    background-color: rgba(192, 110, 62, 0.548);
}

h1 {
    margin: 20px 0;
}

.form {
    margin: 20px auto;
    display: grid;
    width: 300px;
}

input {
    height: 30px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    width: 50%;
    height: 35px;
    font-size: large;
    background-color: greenyellow;
    border-color: green;
    cursor: pointer;
}